<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'test_app/signin.css'%}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	    <form class="form-signin" action="/login" method="post">
		    {% csrf_token %}
		    <h2 class="form-signin-heading">Please sign in</h2>
		    {% if messages %}
			<div class="messages">
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}	
			</div>
			{% endif %}
		    <label for="inputEmail" class="sr-only">Email address</label>
		    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		    <br>
		    <label for="inputPassword" class="sr-only">Password</label>
		    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		    <div class="checkbox">
		        <label>
		            <input type="checkbox" value="remember-me"> Remember me
		         </label>
		    </div>
		    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
	    </form>
	</div> <!-- end of container -->
	<hr>
	<div class="container">
	    <form class="form-signin" action="/register" method="post">
	      	{% csrf_token %}
	        <h2 class="form-signin-heading">Don't have an account, Please! Register</h2>
	        {% if messages %}
			<div class="messages">
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}	
			</div>
			{% endif %}
	        <label for="inputfirst_name" class="sr-only">First Name:</label>
	        <input type="text" name="first_name" id="inputfirst_name" class="form-control" placeholder="Your First Name" required autofocus>
	        <br>
	        <label for="inputlast_name" class="sr-only">Last Name:</label>
	        <input type="text" name="last_name" id="inputlast_name" class="form-control" placeholder="Your Last Name" required autofocus>
	        <br>
	        <label for="inputEmail" class="sr-only">Email address:</label>
	        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	        <br>
	        <label for="inputPassword" class="sr-only">Password:</label>
	        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
	        <label for="inputPassword" class="sr-only">Confirm Password:</label>
	        <input type="password" name="confirm_password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	    </form>
	</div> <!-- end of container -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>